<br><br><br>
<div class="container">
        <article class="tile is-child notification">
          <h2 class="title is-2"> Accede a tu cuenta</h2>
<form action="/login" method="post">
    <section class="modal-card-body">
    <a href="/google-login">login con google</a>
      <hr>
      <section class="formulario">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Account</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Type your Email" name="username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  <input class="input" type="password" placeholder="Password" name="password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
      </section>
    </section>
      <footer class="modal-card-foot">
        <button class="button is-success delete2" type="submit">Log In</button>
      </footer>
    </form>
</article>
</div>
