<br><br><br>

<div class="container">
    <article class="tile is-child notification">

<div class="notification is-link hired">
<h1 class="title is-1">Worker Hired!</h1>
</div>
<div class="hired">
    <h3 class="title is-3">An e-mail has been sent with the worker's data</h3><br><br>
    <i class="fas fa-envelope" style="font-size:80px;"></i><br><br>
    <h4 class="title is-4">Thanks for using FixIt-Now</h4>
</div>
    </article>
</div>

<br><br><br>
