<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

<!-- Hero content: will be in the middle -->
<section class="cuadro2">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
              <img src="images/fixit logo.png" alt="Logo">
            </h1>
            <h2 class="subtitle subtitulo">
              Find the best people for your solutions {{name}}
            </h2>
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
                <ul class="secciones">
                    <li><a id="how">How it works?</a></li>
                    <li><a id="projects">Projects</a></li>
                    <li><a id="workers">Top Workers</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<div class="container how ">
    <div class="columns is-8">
        <div class="column">
            <i class="fas fa-wrench" style="font-size:80px;"></i> <br><br>
            <h4 class="title is-4">Publish your issue</h4>
        </div>
        <div class="column">
            <i class="fas fa-phone-volume" style="font-size:80px;"></i><br><br>
            <h4 class="title is-4">Find a worker who meets your needs</h4>
        </div>
        <div class="column">
            <i class="far fa-handshake" style="font-size:80px;"></i><br><br>
            <h4 class="title is-4">Find the best deals with the best workers</h4>
        </div>
    </div>
</div>

<!--  PROJECTS ///////////////////-->
<div class="container projects">


<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <h3 class="title is-3">Top Projects <br><br><a href="/jobs" class="button is-info is-outlined">All Projects</a> </h3>
  <thead>

    <tr>
      <th>#</th>
      <th>Solicitud</th>
      <th>Descripcion</th>
      <th>Usuario</th>
      <th>Fecha de creación</th>
      <th>Presupuesto</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th><a>1</a></th>
      <th><a>Electrodomesticos</a></th>
      <th>Lavadora se calienta y deja de funcionar</th>
      <th> <a> Jorge Pablo Ruiz </a></th>
      <th>09:09 - 10/May/2018</th>
      <th>800.00 MXN</th>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><a>2</a></th>
      <th><a>Plomería</a></th>
      <th>Le metí una patada a mi lavabo cuando estaba borracho</th>
      <th> <a> Gerardo Antonio </a></th>
      <th>09:09 - 10/May/2018</th>
      <th>520.00 MXN</th>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><a>3</a></th>
      <th><a>Se fundió un fusible</a></th>
      <th>No se como cambiar un fusible :(</th>
      <th> <a> Sebastian Carrera </a></th>
      <th>09:09 - 10/May/2018</th>
      <th>800.00 MXN</th>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><a>4</a></th>
      <th><a>se rompió la chapa de mi casa</a></th>
      <th>No se que pasó, yo no hice nada y estaba así</th>
      <th> <a> Hector BlisS </a></th>
      <th>09:09 - 10/May/2018</th>
      <th>20.00 MXN</th>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><a>5</a></th>
      <th><a>Laptop Windows</a></th>
      <th>Tengo una laptop que tiene windows y no me sirve para ironHack</th>
      <th> <a> Hugo </a></th>
      <th>09:09 - 10/May/2018</th>
      <th>20,000.00 MXN</th>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><a>6</a></th>
      <th><a>Me hicieron daño los chilaquiles</a></th>
      <th>Me comí unos chilaquiles bien feos y me enfermé</th>
      <th> <a> Franco </a></th>
      <th>09:09 - 10/May/2018</th>
      <th>500.00 MXN</th>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><a>7</a></th>
      <th><a>Me ganaron mi dominio hackberto.com</a></th>
      <th>un tal Hector BlisS compró el dominio antes que yo y me lo esta vendiendo caro</th>
      <th> <a> Hackberto </a></th>
      <th>09:09 - 10/May/2018</th>
      <th>300.00 MXN</th>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><a>8</a></th>
      <th><a>Electricista</a></th>
      <th>se fundieron todos los focos de mi casa</th>
      <th> <a> Jesus Ivan García </a></th>
      <th>09:09 - 10/May/2018</th>
      <th>70.00 MXN</th>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><a>9</a></th>
      <th><a>Pintar mi casa</a></th>
      <th>Mi casa esta fea y mugrosa. necesito pintarla</th>
      <th> <a> Mariana Sevilla Rojas </a></th>
      <th>09:09 - 10/May/2018</th>
      <th>800.00 MXN</th>
    </tr>
  </tbody>
</table>

</div>
<!--  PROJECTS ///////////////////-->

<div class="container workers">
  <div class="columns is-8">
    <div class="column">

<br><br>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="images/plomero1.jpeg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="images/plomero1.2.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">John Smith</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris.
      <br>
    </div>
  </div>
</div>


    </div>
    <div class="column">

<br><br>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="images/electricista.jpg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="images/electricista1.2.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Sebastian Carrera</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris.
      <br>
    </div>
  </div>
</div>


    </div>
    <div class="column">

<br><br>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="images/cerrajero1.jpg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="images/cerrajero1.2.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Julio Cesar</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris.
      <br>
    </div>
  </div>
</div>


    </div>
  </div>
</div>
